# eigenda group
DA_NAME=eigenda
EIGEN_DA_ADVERSARY_THRESHOLD=25
EIGEN_DA_ENABLE=true
EIGEN_DA_QUORUM_ID=0
EIGEN_DA_QUORUM_THRESHOLD=50
EIGEN_DA_RPC=disperser-goerli.eigenda.xyz:443
EIGEN_DA_STATUS_QUERY_RETRY_INTERVAL=10s
EIGEN_DA_STATUS_QUERY_TIMEOUT=120s


# pick one from https://docs.bscscan.com/misc-tools-and-utilities/public-rpc-nodes
L1_RPC=

# op-node libp2p bootnodes
P2P_ADDR=
