# l1 rpc url
L1_RPC=

# l1 rpc kind(standard/basic/quicknode/alchemy/erigon)
# https://docs.optimism.io/builders/node-operators/tutorials/node-from-docker
L1_RPC_KIND=

# node libp2p bootnodes
P2P_ADDR=

# rollup config file url link
ROLLUP_CONFIG_URL=

# plasma da server url
PLASMA_DA_SERVER=